### Node ###
# Logs
logs
*.log
npm-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# dotenv environment variable files
.env
.env.test.local

### Playwright ###
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

### Cucumber ### 
reports
cucumber-report.html
cucumber-report.json